/*--- Styling for the chat ---*/

footer #chat-container {
    display: flex;
    height: 4rem;
    width: 4rem;
    border-radius: 50px;
    background: #f9a825;
    color: #fff;
    margin-right: 0.5rem;
    margin-bottom: 0.5rem;
    align-self: flex-end;
    cursor: pointer;
    transition: 0.2s linear;
}

footer #chat-container i {
    font-size: 2rem;
    margin: auto;

}

footer #chat-container:hover {
    transform: scale(1.1);
    background: #4caf50;
    box-shadow: 0 5px 8px 0 rgba(10, 10, 10, 0.514);
}

#chat-window {
    display: none;
    height: 30rem;
    right: 2rem;
    bottom: 5rem;
    position: fixed;
    background-color: #f9a825;
    border: 1px #ffb333 solid;
    border-radius: 10px;
    margin: auto;
    width: 20rem;
    box-shadow: 0 5px 8px 0 rgba(0, 0, 0, 0.2), 0 7px 20px 0 rgba(145, 55, 55, 0.17);
    animation: chatOpening 0.4s linear;
}


.chat-header {
    height: 5%;
    border-radius: 10px 10px 0 0;
    background: orange;
}

.chat-title {
    opacity: 0;
    margin-left: 0.4rem;
    font-weight: 600;
    animation: inputSendAnim 0.4s 0.4s linear forwards;
}
#chat-body {
    display: block;
    height: 84%;
    width: 100%;
    background: #fff;
    display: flex;
    flex-direction: column;
    overflow: auto;
    -webkit-scrollbar: touch;
}

#chat-body::-webkit-scrollbar {
    background: transparent;
    width: 0.6rem;
}

#chat-body::-webkit-scrollbar-thumb {
    background: linear-gradient(70deg, orange, orangered);
    border-radius: 50px;
}

#chat-input {
    opacity: 0;
    border: none;
    border-radius: 4px;
    box-sizing: border-box;
    margin-top: 0.6rem;
    margin-left: 0.3rem;
    padding: 0 0.5rem;
    width: 86%;
    line-height: 1.7rem;
    animation: inputSendAnim 0.4s 0.4s linear forwards;

}

#chat-send {
    opacity: 0;
    font-size: 1.7rem;
    color: #6d6d6d;
    cursor: pointer;
    transition: 0.2s linear;
    animation: inputSendAnim 0.4s 0.4s linear forwards;
}

#chat-send:hover {
    color: aliceblue;
}

.chat-msg {
    box-sizing: border-box;
    display: block;
    word-wrap: break-word;
    background: #4caf50;
    color: #fff;
    width: max-content;
    max-width: 70%;
    padding: 1rem;
    margin-top: 1rem;
    margin-left: 1rem;
    font-weight: 600;
    border-radius: 5px;
    animation: inputSendAnim 0.4s  linear forwards;

}

#close-chat {
    opacity: 0;
    float: right;
    margin-bottom: 0.1rem;
    margin-right: 0.4rem;
    font-size: 2rem;
    cursor: pointer;
    animation: inputSendAnim 0.4s 0.4s linear forwards;
}

#close-chat:hover {
    color: aliceblue;
}
