*
{
    font-weight: 200;
}

html, body
{
    margin: 0;
    font-family: 'Work Sans', sans-serif;
    -webkit-font-smoothing: antialiased;
    font-weight: 200;
}

html {
    z-index: 200;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
}

h1
{
    font-weight: 200;
    font-size: 40px;
}

.gridSection
{
    width: 100vw;
    height: 100vh;
    display: grid;
    grid-template-areas:
    "head head"
    "edit main"
    "foot foot";
    grid-template-rows: 80px 1fr 70px;
    grid-template-columns: 0.3fr 1fr;
    grid-row-gap: 10px;
    grid-column-gap: 50px;
    margin-bottom: 0;
    justify-content: space-between;
}

header
{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    grid-area: head;
    border: 1px solid;
    height: 100%;
}

.edit-container
{
    grid-area: edit;
    display: flex;
    border: 1px solid;
    border-radius: 4px;
    margin-left: 20px;
    padding: 10px 0 10px 0;
}
/*
main
{
    grid-area: main;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    border: 1px solid;
    height: 100%;
    max-width: 60vw;
    right: 0;
    position: relative;
    margin-right: 20px;
    /*
    left: 50%;
    transform: translate(-50%);
	overflow: scroll;


}
*/

footer
{
    grid-area: foot;
    height: 100%;
    border: 1px solid;
}

header > .navBox, .userDiv
{
    display: flex;
    justify-content: center;
    align-items: center;
    border: 0px solid;
    border-radius: 50%;
    margin: 0 35px 0 35px;
    padding: 10px;
    height: 50px;
    width: 50px;
}

input, textarea
{
    border: 1px dashed;
    border-radius: 4px;
    resize: none;
}

.flex-center
{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.edit-btn-container
{
    height: 10%;
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.edit-btn-container > img
{
    height: 25px;
    padding: 15px;
    border-radius: 4px;
}

.green
{
    background-color: lightgreen;
}

.red
{
    background-color: #d46464;
}

.orange
{
    background-color: #ffb333;
}

#title-div > input
{
    font-size: 20px;
    text-align: center;
    padding: 0.7em;
}

#descript-div > textarea
{
    font-size: 20px;
    text-align: center;
    padding: 0.7em;
    height: 200px;
}

div > h3
{
    text-decoration: underline;
}

textarea:focus, input:focus
{
    outline: none;
    border: 2px #ee9b4c solid;
}

.navBox
{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.hamburger
{
    margin: 4px 0 4px 0;
    border: 3px solid;
    width: 80%;
    border-radius: 4px;
}

.addBtn
{
    position: absolute;
    top: 50%;
    left: 100%;
    transform: translate(0%, -50%);
    width: 70px;
    height: 70px;
    border: 0.5px solid;
    border-radius: 50%;
    margin: 0 0 0 20px;
    font-size: 70px;
    font-weight: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: 0.5s transform ease, 1s background-color ease-out;
    overflow: hidden;
}

.addBtn:hover
{
    transform: scale(1.05) translate(0%, -50%);
    background-color: #b2e68a;
}

.addBtn > span
{
    transform-origin: center;
    transform: rotate(0deg);
    transition: 0.2s all;
}

.addBtn > span:hover
{

}

.project
{
    border: 1px solid;
    padding: 1em;
}

#treeDiv {
	height: 80vh;
	background-color: #FFF;
	position: relative;
    overflow-y: scroll;
    grid-area: main;
    margin-right: 20px;
    border: 1px solid;
}

.treeStack {
    position: relative;
    width: 100%;
    height: 70px;
	display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    margin-bottom: 5px;
}

.treeNode {
	width: 150px;
	min-width: 150px;
	height: 100%;
    border: 1px solid;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-right: 5px;
    text-align: center;
}

.treeNode p {
    text-align: center;
}

.addButton {
	width: 10px;
	height: 10px;
	background-color: #555;
}

.module {
    width: 50vw;
    height: 50vh;
    border: 1px solid;
    position: absolute;
    display: flex;
    flex-direction: column;
    justify-content: center;
    justify-items: center;
    background-color: whitesmoke;
    text-align: center;
}
.module * {
    border: 1px solid;
}
.shader {
    background-color: rgba(50, 50, 50, 0.5);
    width: 100%;
    height: 100%;
    position: absolute;
    display: flex;
    justify-content: center;
    align-items: center;
}
