

*{margin:0;
padding:0;
    
}



#wrapper{
        height: 100vh;
        width: 100vw;
        display: flex;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
  

.griddiv{
    height: 100%;
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "projectcontainer";
}
 








body{ }


.projectcontainer{
    min-width: 250px;
    position: absolute;
    display: flex;
    top:15%;
    width: 80%;
    height: 60%;
}


.overlayTab{
    display: flex;
    width: 100%;
    height: 100%;
    
}




#InprogressContainer{
    background: rgba(128, 128, 128, 0.45);
    display: block;
    left:45%;
   

}


#upcommingContainer{
    background: rgba(128, 128, 128, 0.45);
    display: block;
    left:15%;
 
    
    }


#CompletedContainer{
    background: rgba(128, 128, 128, 0.45);
    display: block;
    left:75%;
  
}


.overcontainer{
    display: flex;
    position: absolute;
    top:-15%;
   padding: 1%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    border-radius: 15px;
    width: 20%;
    height: 130%;
    z-index: 100;
    
    box-shadow: -5px -2px 12px 1px rgba(136, 136, 136, 0.56),5px 20px 12px 1px rgba(136, 136, 136, 0.56);
}


.headerContainer{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 26px;
    font-family: sans-serif;
    text-decoration: underline;
    padding: 2%;
    
  }


.UserProjecttab{
    display:block;
   padding: 1%;
    width: 90%;
    height: 90%;
   margin: 4%;
    border-radius: 15px;
    overflow-y: auto;
  }

.usUserProjecttab.div:hover{transform: scale(1.1);}


.projectdiv{
    width: 90%;
    height : 30%;
    text-align: center;
    color : Black;
    font-Size:25px; 
    font-family: sans-serif;
    display: block;
    background:  rgb(255, 252, 164);
    margin: 2%;
    overflow:hidden;
    border-radius: 5px;
    cursor:pointer;
    z-index: 100;
    grid-area:projectcontainer;    
    
}

.projectdiv:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #8d8282;
}

.projectFeed{
    display: flex;
    background: rgba(255, 179, 51, 0.56);
    right:2%;
    top:15%;
    position: absolute;
    border-radius: 31px;
    width: 10%;
    height: 48%;
    border:solid #c78a23;
    padding: 3%;
    box-shadow: 1px -5px 12px 1px rgba(136, 136, 136, 0.56);
  }

#feedover {
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    width: 300%;
    position: absolute;
    left: 23%;
    top: 5%;
    text-decoration: underline;
    
}

@media only screen and (max-width: 660px){
    
.projectcontainer{ width: 100%;}
    .projectFeed{display: none;}
}
    

.FeedUpdate{
    background: rgba(255, 180, 44, 0.58);
    margin:5%;
    width: 75%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 8%;
    display:inline-block;
    border-radius: 15px;
    overflow-y: auto;
    z-index: 0;
    transform: rotate(180deg);
}

.feeddiv{
    margin: 2px;
    border: solid black;
    background: #cbf866;
    display: inline-block;
    position:relative;
    overflow-y: auto;
    width: 88%;
    height: 20%;
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
    border-radius: 15px;
    z-index: 0;
    margin: 4%;
    transform: rotate(180deg);
}

.feeddiv:hover{transform: scale(1.1)rotate(180deg);}

#Deleteproject1{
    left: 7%;
    width: 5%;
    bottom: 18%;
    height: auto;
    position: absolute;
   
    padding:10px;
    border-radius: 4px;
    z-index: 100;
     margin:1%;
     grid-area:projectcontainer;
}

.Trashcanimg:hover {
transform: scale(1.05);
}



.NewProjectButton{
 
    text-align: center;
    font-size: 125%;
    width: 15%;
    height: 20%;
    grid:projectcontainer;
    position: absolute;
    top:5%;
    left: 3.5%;
    transition: 0.3s all;  
}

#createbutton1{
    width: 40%;
    height: 60%;
    
    
}



.Newprojectbutton:hover{
transform: scale(1.15);
}


   



#projectform{
    min-width: 0%;
    min-height: 0%;
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 15px;
    border: solid black 1px;
    top:20%;
    left:15%;
    border-radius: 5px;
    background: #cbf866;
    display: block;
    text-align: center;
    z-index: 100;
    padding: 20px;
  }





#send{
     bottom:10%;
    height: 13%;
    right:100px;
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    opacity: 0;
}


#close{
    font-size: 18px;
    font-family: sans-serif;
     bottom:10%;
    height: 13%;
    left:150px;
    position: absolute;
    opacity: 0;
}

#Projectname{
    opacity: 0;
    
}


@keyframes show{
    0% {opacity:0;}
    100% { opacity:1;}}



@keyframes growing {
    0% { height:0%;width: 0%; opacity:0;}
    100% { height: 50%; width: 30%;}
}



@keyframes nextarrow {
  0%{
    
  }
  100% {
      transform: scale(1.15);
     
}
    
 
   
    
    

