

*{margin:0;
padding:0;
    
}



#wrapper{
        height: 100vh;
        width: 100vw;
        display: flex;
    background-image: url(img/logo.png);
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    }
  

.griddiv{
    height: 100%;
   display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
  grid-template-areas: "projectcontainer";
}
 


body{ }


.projectcontainer{
    min-width: 250px;
    position: absolute;
    display: flex;
    top:15%;
    width: 80%;
    height: 60%;
}


.overlayTab{
    display: flex;
    width: 100%;
    height: 100%;
    
}




#InprogressContainer{
    
    display: block;
    left:45%;
   

}


#upcommingContainer{
    
    display: block;
    left:23%;
    border-top-left-radius: 15px;
    border-bottom-left-radius: 15px;
 
    
    }


#CompletedContainer{
    
    display: block;
    left:67%;
    border-top-right-radius: 15px;
    border-bottom-right-radius: 15px;
  
}


.overcontainer{
    
    position: absolute;
    top:-15%;
   padding: 1%;
    margin-top: 3%;
    margin-left: 1%;
    margin-right: 1%;
    margin-bottom: 1%;
    background: rgba(242, 242, 242, 0.45);
    width: 20%;
    height: 130%;
    z-index: 100;
   
    transition: all 0.3s;
    box-shadow: -5px -2px 12px 1px rgba(136, 136, 136, 0.56),5px 2px 12px 1px rgba(136, 136, 136, 0.56);
}


.headerContainer{
    display: flex;
    margin-left: 3%;
    margin-right: 3%;
    font-size: 26px;
    font-family: sans-serif;
    text-decoration: underline;
    padding: 2%;
    
  }


.UserProjecttab{
    display:block;
   padding: 1%;
    width: 90%;
    height: 90%;
   margin: 4%;
    border-radius: 15px;
    overflow-y: auto;
  }

.usUserProjecttab.div:hover{transform: scale(1.1);}


.projectdiv{
    width: 90%;
    height : 30%;
    text-align: center;
    color : Black;
    font-Size:25px; 
    font-family: sans-serif;
    display: block;
    background:  #f87371;
    margin: 2%;
    overflow:hidden;
    border-radius: 5px;
    cursor:pointer;
    z-index: 100;
    grid-area:projectcontainer;    
    
}

.projectdiv:hover{
    transform: scale(1.05);
    box-shadow: 5px 5px 5px 5px #8d8282;
}

.projectFeed{
    display: flex;
    background: #ffffff;
    right:2%;
    top:15%;
    position: absolute;
    border-radius: 31px;
    width: 10%;
    height: 48%;
    padding: 3%;
    box-shadow: 1px -5px 12px 1px rgba(136, 136, 136, 0.56);
  }

#feedover {
    display: flex;
    text-align: center;
    font-size: 25px;
    font-family: sans-serif;
    width: 300%;
    position: absolute;
    left: 23%;
    top: 5%;
    text-decoration: underline;
    
}

@media only screen and (max-width: 660px){
    
.projectcontainer{ width: 100%;}
    .projectFeed{display: none;}
}
    

.FeedUpdate{
    background: #ffffff;
    margin:4%;
    width: 75%;
    height: 80%;
    position: absolute;
    top: 10%;
    left: 8%;
    display:inline-block;
    border-radius: 15px;
    overflow-y: auto;
    z-index: 0;
    transform: rotate(180deg);
}

.feeddiv{
    margin: 2px;
   padding: 1.3rem;
    box-sizing: border-box;
    background: #cbf866;
    display: inline-block;
    position:relative;
    overflow-y: none;
    max-width: 88%;
    height: auto;
    width: max-content;
    font-size: 15px;
    font-style: italic;
    font-family: sans-serif;
    border-radius: 15px;
    z-index: 0;
    margin: 4%;
    transform: rotate(180deg);
}

.feeddiv:hover{transform: scale(1.1)rotate(180deg);}

#Deleteproject1{
    left: 6%;
    width: 5%;
    bottom: -30%;
    height: auto;
    position: absolute;
   
    padding:10px;
    border-radius: 4px;
    z-index: 100;
     margin:1%;
     grid-area:projectcontainer;
}

.Trashcanimg:hover {
transform: scale(1.05);
}


#createbutton1{
    width: 5%;
    position: absolute;
    left: 8%;
    top: 20%;
    transition: 0.3s all;
    
}



#createbutton1:hover{
transform: scale(1.15);
}


   



#projectform{
    min-width: 0%;
    min-height: 0%;
    position: absolute;
    font-size: 20px;
    font-family: sans-serif;
    border-radius: 40px;
    border: solid #000000 1px;
    top:20%;
    left:15%;
    border-radius: 5px;
    background: rgb(235, 239, 227);
    display: block;
    text-align: center;
    z-index: 100;
    padding: 20px;
  }



#Projectname{
    bottom:10%;
    height: 13%;
    border-radius: 4px;
    border:none;
    font-size: 16px;
}

#send{
     bottom:10%;
    width: 25%;
    height: 20%;
    right:10%;
    position: absolute;
    font-size: 18px;
    font-family: sans-serif;
    opacity: 0;
    background: #4caf50;
    border-radius: 10px;
}


#close{
    height: 20%;
    width: 25%;
    font-size: 18px;
    font-family: sans-serif;
    bottom:10%;
    
    left:10%;
    position: absolute;
    opacity: 0;
    background: #f87371;
    border-radius: 10px;
}

#Projectname{
    opacity: 0;
    
}


@keyframes show{
    0% {opacity:0;}
    100% { opacity:1;}}



@keyframes growing {
    0% { height:0%;width: 0%; opacity:0;}
    100% { height: 50%; width: 30%;}
}



@keyframes nextarrow {
  0%{
    
  }
  100% {
      transform: scale(1.15);
     
}
    
 
    @keyframes dragover{
        0%{}
        
        100%{width: 101%;}
        
    }
    
    

